* {
  box-sizing: border-box;
}

@font-face {
  font-family: heading;
  src: url('Font/Benguiat\ Bold.ttf');
}

div {
  font-family: myFirstFont;
  font-size: 16px;
}

body {
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin: 0;
  background: #0f0d0d;
  font-family: heading;
  color: #ffffff;
}

aside {
  width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

h1 {
  font-size: 85px;
  -webkit-text-stroke: 4px rgb(119, 4, 4);
  -webkit-text-fill-color: #af0707;
  line-height: 80px;
  margin: 0;
}

h2 {
  font-size: 30px;
  -webkit-text-stroke: 2px rgb(119, 4, 4);
  -webkit-text-fill-color: #af0707;
}

h3 {
  font-size: 20px;
  -webkit-text-stroke: 2px rgb(119, 4, 4);
  -webkit-text-fill-color: #af0707;
}

.counters {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.heading {
  width: 100px;
  margin-bottom: -20px;
}

.points-counter {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 5px 0;
  color: #ffffff;
}

.lives-counter {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  color: #ffffff;
}

.grid-container {
  position: relative;
  border: solid 4px rgb(119, 4, 4); 
  margin: 50px;
  display: flex;
  flex-direction: row;
  min-width: 600px;
  height: 600px;
  flex-wrap: wrap;
  transform: rotate(180deg);
  background: rgb(147,0,0);
  background: radial-gradient(circle, rgba(147,0,0,0.50) 5%, rgba(120,29,10,0.50) 51%, rgba(24,0,34,0.50) 95%), url('background-image.jpg');
}

.cell {
  width: 11.11%;
  height: 11.11%;
}

div.alien {
  background-image: url('pngfind.com-mind-flayer-png-6735019.png');
  background-size: contain;
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.player {
  position: relative;
  overflow: hidden;
}

.player::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  z-index: -1;
  right: 10%;
  bottom: 0;
  background: url('PikPng.com_stranger-things-png_343516.png') 0 0 no-repeat;
  background-size: 55px;
  transform: rotate(180deg)
}

div.laser {
  background-image: url('https://www.flaticon.com/svg/static/icons/svg/1075/1075267.svg');
  background-position: center;
  background-size: 40px;
  background-repeat: no-repeat;
}

.bomb {
  background-image: url('tornado.png');
  background-size: 50px;
  background-repeat: no-repeat;
  background-position: center;
}

.gameover {
  z-index: 9;
  background: #0f0d0d;
  position: absolute;
  top: 200px;
  left: 100px;
  width: 400px;
  height: 200px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 4px rgb(119, 4, 4);
  transform: rotate(180deg);
}

.winner {
  z-index: 9;
  background: #0f0d0d;
  position: absolute;
  top: 200px;
  left: 100px;
  width: 400px;
  height: 200px;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: solid 4px rgb(119, 4, 4);
  transform: rotate(180deg);
}

.winner > img {
  width: 60px;
  margin: 10px;
}

.button-container {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  border: solid 4px rgb(119, 4, 4);
  background: #af0707;
  color: rgb(119, 4, 4);
  font-size: 20px;
  font-family: heading;
  cursor: pointer;
}

button:focus {
  display: none;
}

.rules-div {
  z-index: 9;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 400px;
  height: 500px;
  left: 40%;
  top: 20%;
  background: #0f0d0d;
  border: solid 4px rgb(119, 4, 4);
}

.rules-div > img {
  width: 50px;
  margin: none;
}

.rules {
  width: 200px;
}